.wrapper {
  margin: 80px 60px;
  padding: 0 15px;
}

.pay-process {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.center .color {
  background-color: var(--orange);
}

.btn-item {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  background-color: hsla(0, 0%, 82.7%, 0.8);
  border: none;
  color: #fff;
}

.center {
  text-align: center;
  color: var(--orange);
  font-weight: 500;
}

.line-process-first {
  position: absolute;
  top: 9px;
  transform: translateX(2%);
  height: 10px;
  width: 35%;
  background-color: hsla(0, 0%, 82.7%, 0.6);
  z-index: -1;
}

.line-process-second {
  position: absolute;
  top: 9px;
  right: 0;
  transform: translateX(-50%);
  height: 10px;
  width: 35%;
  background-color: hsla(0, 0%, 82.7%, 0.6);
  z-index: -1;
}

.thank-text {
  font-size: 3.6rem;
  font-style: italic;
  text-align: center;
  padding: 32px 0;
}

.line {
  border-bottom: 3px solid rgb(214, 214, 214);
  margin-top: 60px;
  margin-bottom: 12px;
}

.text-noti {
  margin-top: 20px;
}

.choose-text {
  font-size: 1.9rem;
  margin-bottom: 16px;
}

.info-user {
  border: 1px solid var(--orange);
  width: 50%;
  border-radius: 8px;
  padding: 20px;
}

.info-user p {
  font-size: 1.4rem;
  padding-bottom: 4px;
}

.info-user button {
  padding: 3px 7px;
  border: none;
  border-radius: 4px;
  height: 28px;
}

.btn-address {
  background-color: var(--orange);
  color: #fff;
  margin-right: 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.btn-remove {
  background-color: #6c757d;
  color: #fff;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.add-address {
  background-color: transparent;
  border: 1px solid var(--orange);
  padding: 10px;
  width: 50%;
  margin-top: 20px;
  border-radius: 4px;
}
