.wrapper {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
}

.quantity-product {
  font-size: 1.5rem;
}

.productList {
  max-width: 100%;
}

.header {
  padding: 0 15px 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-sorry {
  display: block;
  height: 50px;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}
