@import "normalize.css";

:root {
  --height-header-slide: 40px;
  --orange: #f15e2c;
  --default-layout-header-height: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../../public/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  font-family: "Roboto";
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

//Grid
.row {
  display: flex;
  flex-wrap: wrap;
}

.c-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 8px;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 8px;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0 8px;
}

.c-2-25 {
  flex: 0 0 18.75%;
  max-width: 18.75%;
  padding: 0 8px;
}

.c-3-6 {
  flex: 0 0 30%;
  max-width: 30%;
}

.c-8-4 {
  flex: 0 0 70%;
  max-width: 70%;
}

.c-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.c-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

//dot-line
.dot-line {
  border-top: 1px dashed rgb(111, 109, 109);
  margin: 32px 0 16px 0;
}

.solid-line {
  border-top: 1px solid rgb(0, 0, 0);
}

.down-icon {
  font-size: 2.2rem;
  transform: translateY(-3%);
  padding-left: 12px;
}
