.mgb-10 {
  margin-bottom: 10px;
}

.sidebar {
  padding-right: 20px;
}

.title {
  background-color: #ccc;
  padding: 15px 0 15px 10px;
  font-size: 1.8rem;
  margin-bottom: 32px;
}

.title-filter {
  display: flex;
  padding: 4px 8px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
  color: var(--orange);

  &:hover {
    cursor: pointer;
  }
}

.title-filter h3 {
  margin-bottom: 20px;
  margin-right: 8px;
}

.filter-item {
  display: flex;
}

.filter-item input {
  margin-right: 10px;
}

.price-slider {
  padding: 4px 8px;
}

.btn-color {
  border: transparent;
  width: 30px;
  height: 30px;
  padding: 4px;
  margin: 10px 6px;

  &:hover {
    cursor: pointer;
  }
}

.btn-color:focus {
  border: 2px solid var(--orange);
}

.select-substance {
  width: 100%;
  height: 32px;
  padding: 4px 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: rgb(63, 62, 62);
  outline: none;
  text-transform: uppercase;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  }
}

.btn-remove {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  background-color: var(--orange);

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .icon-remove {
    float: right;
  }
}
