.img-product {
  padding: 20px;
}

.cart-list {
  position: relative;
  flex: 1;
  padding: 20px;
}

.name-product {
  width: 66.6667%;
  font-size: 1.7rem;
  line-height: 1.7rem;
}

.total-price-item {
  position: absolute;
  right: 0;
  line-height: 1.9rem;
  color: var(--orange);
  font-size: 1.9rem;
}

.price {
  padding: 20px 0 30px 0;
  font-size: 1.5rem;
  color: rgb(165, 163, 163);
}

.select {
  display: flex;
  position: absolute;
  bottom: 0;
}

.title-select {
  font-size: 1.5rem;
  padding-bottom: 4px;
}

.select-size {
  width: 72px;
  font-size: 1.6rem;
  padding: 4px 8px;
  background-color: rgb(232, 232, 232);
  border-radius: 3px;
  margin-right: 40px;
  border: 1px solid #ccc;
  color: rgb(146, 146, 146);
  outline: none;
}

.change-quantity {
  width: 24px;
  height: 29px;
  font-size: 2.4rem;
  padding: 0 4px;
  border-radius: 3px;
  border: 1px solid #ccc;

  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}

.input-quantity {
  text-align: center;
  width: 40%;
  padding: 0px 8px 0px 8px;
  font-size: 1.6rem;
  color: rgb(146, 146, 146);
  outline: none;
  border: none;
}

.action-user {
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-heart {
  border: none;
  background-color: transparent;
}

.svg-heart {
  height: 48px;
  width: 48px;
  padding: 2px 8px;
  transform: translateY(-14%);
}

.icon-heart {
  display: block;
  font-size: 3rem;
  color: var(--orange);
  padding: 2px 8px;
}

.btn-trash {
  position: absolute;
  right: 8px;
  bottom: 0;
  border: none;
  background-color: transparent;
  padding: 4px;
}

.icon-trash {
  font-size: 3rem;
  padding: 2px 6px;

  &:hover {
    cursor: pointer;
    font-size: 3.2rem;
  }
}
