:root {
  --search-height: 32px;
}

.wrapper {
  position: fixed;
  height: var(--default-layout-header-height);
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  z-index: 2;
}

.inner {
  height: 100%;
  width: 960px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.logo {
  transform: translateY(5%);
  width: 32px;
}

.colapse-navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.list-navbar {
  display: flex;
  list-style: none;
}
.btn-tab {
  padding: 0 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.95);
  font-size: 1.8rem;
  line-height: var(--search-height);
  border: none;
  background-color: transparent;
  font-family: "Roboto";

  &:hover {
    cursor: pointer;
    color: var(--orange);
  }
}

.icon-general {
  position: relative;
  font-size: 2.6rem;
  background-color: transparent;
  border: none;
  line-height: var(--search-height);
  padding: 8px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px;
  margin-bottom: -8px;

  &:hover {
    cursor: pointer;
  }

  &:hover .products {
    display: block;
    will-change: opacity, transform;
    animation: dropdown 0.8s;
  }
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.quantity {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--orange);
  color: #fff;
  font-size: 1.2rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.products {
  display: none;
}

.user {
  width: 9%;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 600;
  color: #0671dd;

  &:hover {
    cursor: pointer;
    font-size: 1.85 rem;
  }
}

.icon-log-out {
  padding-left: 4px;
  font-size: 1.8rem;
  transform: translateY(10%);
}

.log-in {
  background-color: transparent;
  font-weight: 600;
  font-size: 1.5rem;
  border: 1px solid var(--orange);
  color: var(--orange);
  padding: 0 15px;
  border-radius: 4px;
  margin-left: 12px;
  width: 9%;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0.1rem rgba(244, 151, 111, 0.941);
  }
}

//header-slide
.header-slide {
  padding-top: var(--default-layout-header-height);
  width: 100%;
  height: 112px;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
